.record {
  padding: 10px;
  width: 60%;
  margin: 10px auto;
  outline: 1px lightgray solid;
  display: flex;
  cursor: pointer;
}

.record p span {
  margin: 10px;
}

.records {
  margin: 10px auto;
  width: 60%;
}
